[user]
	name = Justus Deitert
	email = mail@justusdeitert.de
[init]
	defaultBranch = main
[core]
	editor = code --wait
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rebase]
	autoStash = true
	autoSquash = true
